button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;

  color: #fff;
  background-color: #409eff;
  border: 1px solid #409eff;

  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;

  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
}